<%- include("partials/header.ejs") %>
<div class="container">
  <div class="row">
    <% Object.keys(blogs).forEach(key => { %>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title title"><%= blogs[key].title %></h5>
            <p class="card-text description"><%= blogs[key].description %></p>
            <p class="card-created"><%= blogs[key].date %></p>
            <a href="/edit/<%= blogs[key].title %>" class="btn btn-primary">Edit</a>
            <a href="#" onclick="deleteBlog('<%= blogs[key].title%>')" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<%- include("partials/footer.ejs") %>